_site
node_modules
Gemfile.lock
.sass-cache
*.gem
_posts/2018-12-22-diana-home-email-and-then-some.md
img/postheads/apache.png
img/postheads/diana.png
_posts/2018-12-27-graceful-power-failure.md
img/postheads/04.jpg